{
  "openapi": "3.0.1",
  "info": {
    "title": "Hamsa API",
    "description": "Trying out our transcription and media-to-text APIs",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.tryhamsa.com"
    }
  ],
  "paths": {
    "/api/v1/project/statistics/numbers": {
      "get": {
        "summary": "Get project statistics with numbers",
        "parameters": [
          {
            "name": "startPeriod",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": true
          },
          {
            "name": "endPeriod",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": true
          },
          {
            "name": "projectId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatisticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/project/statistics/chart": {
      "get": {
        "summary": "Get project statistics chart data",
        "parameters": [
          {
            "name": "startPeriod",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": true
          },
          {
            "name": "endPeriod",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": true
          },
          {
            "name": "projectId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorSchema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "StatisticsResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/StatisticsData"
          }
        }
      },
      "StatisticsData": {
        "type": "object",
        "properties": {
          "requests": {
            "$ref": "#/components/schemas/StatisticItem"
          },
          "transcription": {
            "$ref": "#/components/schemas/StatisticItem"
          },
          "tokens": {
            "$ref": "#/components/schemas/StatisticItem"
          }
        }
      },
      "StatisticItem": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "value": {
            "type": "integer"
          },
          "isTimeValue": {
            "type": "boolean"
          }
        }
      },
      "ChartResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/ChartData"
          }
        }
      },
      "ChartData": {
        "type": "object",
        "properties": {
          "cost": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChartDataItem"
            }
          },
          "requests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChartDataItem"
            }
          },
          "transcription": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChartDataItem"
            }
          },
          "tokens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChartDataItem"
            }
          }
        }
      },
      "ChartDataItem": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "value": {
            "type": "number"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Pass the API key as a Bearer token in the Authorization header, You need to put Token keyword before the API key. e.g. 'Authorization: Token <api-key>'"
      }
    }
  }
}