{
  "openapi": "3.0.1",
  "info": {
    "title": "Hamsa API",
    "description": "Trying out our transcription and media-to-text APIs",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.tryhamsa.com"
    }
  ],
  "paths": {
    "/api/v1/project/statistics/numbers": {
      "get": {
        "summary": "Get project statistics with numbers",
        "parameters": [
          {
            "name": "startPeriod",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": true
          },
          {
            "name": "endPeriod",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": true
          },
          {
            "name": "projectId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NumbersStatisticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/project/statistics/chart": {
      "get": {
        "summary": "Get project statistics chart data",
        "parameters": [
          {
            "name": "startPeriod",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": true
          },
          {
            "name": "endPeriod",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": true
          },
          {
            "name": "projectId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/transcribe": {
      "post": {
        "summary": "Transcribe media to text",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranscriptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "500": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/ai-content": {
      "post": {
        "summary": "Create AI Content",
        "parameters": [
          {
            "name": "jobId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiContentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "500": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "get": {
        "summary": "Get AI-generated content",
        "parameters": [
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/job/all": {
      "post": {
        "summary": "Get a list of jobs",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/project/by-api-key": {
      "get": {
        "summary": "Get a project by API key",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/modify-options": {
      "get": {
        "summary": "Modify AI-generated content options",
        "parameters": [
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "option",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "longer",
                "shorter",
                "casual",
                "serious",
                "original"
              ]
            }
          },
          {
            "name": "aiPart",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "introduction",
                "titles",
                "shortTitles",
                "summary",
                "keywords",
                "keyTopicsWithBullets",
                "faq",
                "webArticleSEOFriendly",
                "emailNewsletter",
                "threadsByInstagram",
                "youtubeDescription",
                "facebookPost",
                "twitterThread",
                "linkedInPost",
                "clipFinder",
                "reelScript"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModifyOptionsSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/ai-content/custom": {
      "post": {
        "summary": "Generate Customized AI Content",
        "description": "Generates AI content based on the specified transcription job ID and parameters.",
        "operationId": "generateCustomizedAIContent",
        "parameters": [
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "aiParts": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "introduction",
                        "titles",
                        "shortTitles",
                        "summary",
                        "keywords",
                        "keyTopicsWithBullets",
                        "faq",
                        "webArticleSEOFriendly",
                        "emailNewsletter",
                        "threadsByInstagram",
                        "youtubeDescription",
                        "facebookPost",
                        "twitterThread",
                        "linkedInPost",
                        "clipFinder",
                        "reelScript"
                      ]
                    }
                  },
                  "prompts": {
                    "type": "object",
                    "description": "Prompts are option, and it must end with 'Diarization: {diarization}, Language: {language}'",
                    "properties": {
                      "introduction": {
                        "type": "string",
                        "pattern": ".*Diarization: \\{diarization\\}, Language: \\{language\\}.*"
                      },
                      "titles": {
                        "type": "string",
                        "pattern": ".*Diarization: \\{diarization\\}, Language: \\{language\\}.*"
                      },
                      "shortTitles": {
                        "type": "string",
                        "pattern": ".*Diarization: \\{diarization\\}, Language: \\{language\\}.*"
                      },
                      "summary": {
                        "type": "string",
                        "pattern": ".*Diarization: \\{diarization\\}, Language: \\{language\\}.*"
                      },
                      "keywords": {
                        "type": "string",
                        "pattern": ".*Diarization: \\{diarization\\}, Language: \\{language\\}.*"
                      },
                      "keyTopicsWithBullets": {
                        "type": "string",
                        "pattern": ".*Diarization: \\{diarization\\}, Language: \\{language\\}.*"
                      },
                      "faq": {
                        "type": "string",
                        "pattern": ".*Diarization: \\{diarization\\}, Language: \\{language\\}.*"
                      },
                      "webArticleSEOFriendly": {
                        "type": "string",
                        "pattern": ".*Diarization: \\{diarization\\}, Language: \\{language\\}.*"
                      },
                      "emailNewsletter": {
                        "type": "string",
                        "pattern": ".*Diarization: \\{diarization\\}, Language: \\{language\\}.*"
                      },
                      "threadsByInstagram": {
                        "type": "string",
                        "pattern": ".*Diarization: \\{diarization\\}, Language: \\{language\\}.*"
                      },
                      "youtubeDescription": {
                        "type": "string",
                        "pattern": ".*Diarization: \\{diarization\\}, Language: \\{language\\}.*"
                      },
                      "facebookPost": {
                        "type": "string",
                        "pattern": ".*Diarization: \\{diarization\\}, Language: \\{language\\}.*"
                      },
                      "twitterThread": {
                        "type": "string",
                        "pattern": ".*Diarization: \\{diarization\\}, Language: \\{language\\}.*"
                      },
                      "linkedInPost": {
                        "type": "string",
                        "pattern": ".*Diarization: \\{diarization\\}, Language: \\{language\\}.*"
                      },
                      "clipFinder": {
                        "type": "string",
                        "pattern": ".*Diarization: \\{diarization\\}, Language: \\{language\\}.*"
                      },
                      "reelScript": {
                        "type": "string",
                        "pattern": ".*Diarization: \\{diarization\\}, Language: \\{language\\}.*"
                      }
                    },
                    "additionalProperties": false
                  },
                  "webhookUrl": {
                    "type": "string",
                    "format": "uri",
                    "nullable": true
                  }
                },
                "required": [
                  "aiParts"
                ]
              }
            }
          },
          "description": "Parameters for generating AI content."
        },
        "responses": {
          "200": {
            "description": "AI Content job is being generated!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "msg": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "model": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "processingType": {
                          "type": "string"
                        },
                        "webhookUrl": {
                          "type": "string"
                        },
                        "totalCost": {
                          "type": "number"
                        },
                        "usageTime": {
                          "type": "string"
                        },
                        "fromLng": {
                          "type": "string"
                        },
                        "toLng": {
                          "type": "string"
                        },
                        "mediaUrl": {
                          "type": "string",
                          "format": "uri"
                        },
                        "jobResponse": {
                          "type": "object"
                        },
                        "fromScript": {
                          "type": "string"
                        },
                        "toScript": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "relevantJobId": {
                          "type": "string"
                        },
                        "apiKeyId": {
                          "type": "string"
                        },
                        "billingId": {
                          "type": "string"
                        },
                        "systemModelKey": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/api/v1/ai-content/estimate": {
      "get": {
        "summary": "Estimate AI Content Cost",
        "description": "Returns the estimated cost for the specified AI content job.",
        "operationId": "estimateAIContentCost",
        "parameters": [
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cost estimate retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorSchema": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "StatisticsResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/StatisticsData"
          }
        }
      },
      "StatisticsData": {
        "type": "object",
        "properties": {
          "requests": {
            "$ref": "#/components/schemas/StatisticItem"
          },
          "transcription": {
            "$ref": "#/components/schemas/StatisticItem"
          },
          "tokens": {
            "$ref": "#/components/schemas/StatisticItem"
          }
        }
      },
      "StatisticItem": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "value": {
            "type": "integer"
          },
          "isTimeValue": {
            "type": "boolean"
          }
        }
      },
      "ChartResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/ChartData"
          }
        }
      },
      "ChartData": {
        "type": "object",
        "properties": {
          "cost": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChartDataItem"
            }
          },
          "requests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChartDataItem"
            }
          },
          "transcription": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChartDataItem"
            }
          },
          "tokens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChartDataItem"
            }
          }
        }
      },
      "ChartDataItem": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "value": {
            "type": "number"
          },
          "unit": {
            "type": "string"
          }
        }
      },
      "NumbersStatisticsResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "tokens": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "integer"
                  },
                  "unit": {
                    "type": "string"
                  }
                }
              },
              "transcription": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "number"
                  },
                  "unit": {
                    "type": "string"
                  }
                }
              },
              "price": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "number"
                  },
                  "unit": {
                    "type": "string"
                  }
                }
              },
              "requests": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "string"
                  },
                  "unit": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "TranscriptRequest": {
        "type": "object",
        "properties": {
          "mediaUrl": {
            "type": "string",
            "format": "uri"
          },
          "processingType": {
            "type": "string",
            "enum": [
              "async"
            ],
            "default": "async"
          },
          "webhookUrl": {
            "type": "string",
            "format": "uri"
          },
          "title": {
            "type": "string"
          },
          "model": {
            "type": "string",
            "enum": [
              "hamsa-v1-general",
              "hamsa-v1-refined"
            ]
          }
        },
        "required": [
          "mediaUrl",
          "model"
        ]
      },
      "TranscriptResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "jobId": {
                "type": "string"
              }
            },
            "required": [
              "jobId"
            ]
          }
        }
      },
      "JobsRequest": {
        "type": "object",
        "properties": {
          "sort": {
            "$ref": "#/components/schemas/SortOptions"
          },
          "take": {
            "type": "integer",
            "minimum": 1
          },
          "skip": {
            "type": "integer",
            "minimum": 1
          },
          "search": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "Pending",
              "Completed"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "TRANSCRIPTION",
              "TRANSLATION",
              "TTS",
              "AI_CONTENT"
            ]
          }
        }
      },
      "SortOptions": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "enum": [
              "createdAt",
              "model",
              "jobType",
              "totalCost",
              "usageTime",
              "lng",
              "status"
            ]
          },
          "direction": {
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          }
        }
      },
      "JobsResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/JobsData"
          }
        }
      },
      "JobsData": {
        "type": "object",
        "properties": {
          "jobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Job"
            }
          },
          "total": {
            "type": "integer"
          },
          "filtered": {
            "type": "integer"
          }
        }
      },
      "Job": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "AI_CONTENT",
              "TRANSCRIPTION"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "COMPLETED"
            ]
          },
          "cost": {
            "type": "number"
          },
          "systemModelKey": {
            "type": "string"
          },
          "relevantJobId": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "apiKey": {
                "type": "string"
              },
              "mediaUrl": {
                "type": "string",
                "format": "uri"
              },
              "model": {
                "type": "string"
              }
            },
            "required": [
              "apiKey",
              "mediaUrl",
              "model"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "title",
          "type",
          "url",
          "status",
          "cost",
          "systemModelKey",
          "relevantJobId",
          "attributes",
          "createdAt",
          "updatedAt"
        ]
      },
      "ProjectResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/Project"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "deletedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "deletedBy": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updteAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AiContentResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "msg": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "runpodId": {
                "type": "string"
              },
              "model": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "enum": [
                  "AI_CONTENT"
                ]
              },
              "processingType": {
                "type": "string"
              },
              "webhookUrl": {
                "type": "string"
              },
              "totalCost": {
                "type": "number"
              },
              "usageTime": {
                "type": "string"
              },
              "fromLng": {
                "type": "string"
              },
              "toLng": {
                "type": "string"
              },
              "mediaUrl": {
                "type": "string",
                "format": "uri"
              },
              "jobResponse": {
                "type": "object"
              },
              "fromScript": {
                "type": "string"
              },
              "toScript": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "PENDING",
                  "COMPLETED",
                  "FAILED"
                ]
              },
              "relevantJobId": {
                "type": "string"
              },
              "apiKeyId": {
                "type": "string"
              },
              "billingId": {
                "type": "string"
              },
              "systemModelKey": {
                "type": "string"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "runpodId": {
                "type": "string"
              },
              "model": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "processingType": {
                "type": "string"
              },
              "webhookUrl": {
                "type": "string"
              },
              "totalCost": {
                "type": "number"
              },
              "usageTime": {
                "type": "string"
              },
              "fromLng": {
                "type": "string"
              },
              "toLng": {
                "type": "string"
              },
              "mediaUrl": {
                "type": "string"
              },
              "jobResponse": {
                "type": "object",
                "properties": {
                  "faq": {
                    "type": "string"
                  },
                  "titles": {
                    "type": "string"
                  },
                  "summary": {
                    "type": "string"
                  },
                  "keywords": {
                    "type": "string"
                  },
                  "clipFinder": {
                    "type": "string"
                  },
                  "reelScript": {
                    "type": "string"
                  },
                  "shortTitles": {
                    "type": "string"
                  },
                  "facebookPost": {
                    "type": "string"
                  },
                  "introduction": {
                    "type": "string"
                  },
                  "linkedInPost": {
                    "type": "string"
                  },
                  "twitterThread": {
                    "type": "string"
                  },
                  "emailNewsletter": {
                    "type": "string"
                  },
                  "threadsByInstagram": {
                    "type": "string"
                  },
                  "transcriptionJobId": {
                    "type": "string"
                  },
                  "youtubeDescription": {
                    "type": "string"
                  },
                  "keyTopicsWithBullets": {
                    "type": "string"
                  },
                  "webArticleSEOFriendly": {
                    "type": "string"
                  }
                }
              },
              "status": {
                "type": "string"
              },
              "relevantJobId": {
                "type": "string"
              },
              "apiKeyId": {
                "type": "string"
              },
              "billingId": {
                "type": "string"
              },
              "systemModelKey": {
                "type": "string"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "ModifyOptionsSuccessResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "modifiedText": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Pass the API key in the Authorization header, You need to put Token keyword before the API key. e.g. 'Authorization: Token <api-key>'"
      }
    }
  }
}